{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

<div class="container">
    <h1 class="form-pad">Enter Player Stats</h1>

    <form method="POST" onsubmit="return confirm('Are you sure?');" action="{{ url_for('add_game') }}">
        {{ form.csrf_token }}

        {{ form.map_name.label }} <br> {{ form.map_name }} <br>
        {{ form.rounds.label }} <br> {{ form.rounds }}

        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player1.label(style="font-weight: bold;") }} <br> {{ form.player1 }} <br>
                {{ form.kills1.label }} <br> {{ form.kills1 }} <br>
                {{ form.adr1.label }} <br> {{ form.adr1 }} <br>
                {{ form.win1.label }} <br> {{ form.win1(class_ = 'checkbox', disabled=True) }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player2.label(style="font-weight: bold;") }} <br> {{ form.player2 }} <br>
                {{ form.kills2.label }} <br> {{ form.kills2 }} <br>
                {{ form.adr2.label }} <br> {{ form.adr2 }} <br>
                {{ form.win2.label }} <br> {{ form.win2(class_ = 'checkbox', disabled=True) }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player3.label(style="font-weight: bold;") }} <br> {{ form.player3 }} <br>
                {{ form.kills3.label }} <br> {{ form.kills3 }} <br>
                {{ form.adr3.label }} <br> {{ form.adr3 }} <br>
                {{ form.win3.label }} <br> {{ form.win3(class_ = 'checkbox', disabled=True) }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player4.label(style="font-weight: bold;") }} <br> {{ form.player4 }} <br>
                {{ form.kills4.label }} <br> {{ form.kills4 }} <br>
                {{ form.adr4.label }} <br> {{ form.adr4 }} <br>
                {{ form.win4.label }} <br> {{ form.win4(class_ = 'checkbox', disabled=True) }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player5.label(style="font-weight: bold;") }} <br> {{ form.player5 }} <br>
                {{ form.kills5.label }} <br> {{ form.kills5 }} <br>
                {{ form.adr5.label }} <br> {{ form.adr5 }} <br>
                {{ form.win5.label }} <br> {{ form.win5(class_ = 'checkbox', disabled=True) }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player6.label(style="font-weight: bold;") }} <br> {{ form.player6 }} <br>
                {{ form.kills6.label }} <br> {{ form.kills6 }} <br>
                {{ form.adr6.label }} <br> {{ form.adr6 }} <br>
                {{ form.win6.label }} <br> {{ form.win6(class_ = 'checkbox', disabled='disabled') }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player7.label(style="font-weight: bold;") }} <br> {{ form.player7 }} <br>
                {{ form.kills7.label }} <br> {{ form.kills7 }} <br>
                {{ form.adr7.label }} <br> {{ form.adr7 }} <br>
                {{ form.win7.label }} <br> {{ form.win7(class_ = 'checkbox', disabled='disabled') }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player8.label(style="font-weight: bold;") }} <br> {{ form.player8 }} <br>
                {{ form.kills8.label }} <br> {{ form.kills8 }} <br>
                {{ form.adr8.label }} <br> {{ form.adr8 }} <br>
                {{ form.win8.label }} <br> {{ form.win8(class_ = 'checkbox', disabled='disabled') }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player9.label(style="font-weight: bold;") }} <br> {{ form.player9 }} <br>
                {{ form.kills9.label }} <br> {{ form.kills9 }} <br>
                {{ form.adr9.label }} <br> {{ form.adr9 }} <br>
                {{ form.win9.label }} <br> {{ form.win9(class_ = 'checkbox', disabled='disabled') }} <br>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 form-pad">
                {{ form.player10.label(style="font-weight: bold;") }} <br> {{ form.player10 }} <br>
                {{ form.kills10.label }} <br> {{ form.kills10 }} <br>
                {{ form.adr10.label }} <br> {{ form.adr10 }} <br>
                {{ form.win10.label }} <br> {{ form.win10(class_ = 'checkbox', disabled='disabled') }} <br>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 form-pad">
                {{ form.submit(class_ = 'submit') }}
            </div>
        </div>
    </form>
</div>

{% include "footer.html" %}
