{% include "header.html" %}

<div class="container animate__animated animate__fadeIn">

    <div class="form-pad">
        <h6>{{ iteration_1[0] }}</h6>

        {{ iteration_1[1] }} <br>
        {{ iteration_1[2] }} <br>
        {{ iteration_1[3] }}
    </div>
    <div class="form-pad">
        <h6>{{ iteration_2[0] }}</h6>

        {{ iteration_2[1] }} <br>
        {{ iteration_2[2] }} <br>
        {{ iteration_2[3] }}
    </div>
    <div class="form-pad">
        <h6>{{ iteration_3[0] }}</h6>

        {{ iteration_3[1] }} <br>
        {{ iteration_3[2] }} <br>
        {{ iteration_3[3] }}
    </div>

</div>

{% include "footer.html" %}